
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
h1{
    text-align: center;
    font-family: 'Lemon', serif;

}

body{
    margin-top: 100px;
    margin: 150px
    

}


ul li{
 font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
color: #000000; 
font-size: 18px; 
font-weight: 400; 
text-align: center; 
background: #d2ddaa; 
margin: 0 0 25px; 
overflow: hidden; 
padding: 20px; 
border-radius: 35px 0px 35px 0px; 
-moz-border-radius: 35px 0px 35px 0px; 
-webkit-border-radius: 35px 0px 35px 0px; 
border: 2px solid #ced77a;
}

Input{
    border: none;
    width: 100%;
    outline: none;
}

button{
    color: rgb(199, 220, 123);
    background-color: none;
    border: none;
   
}